.body {
    background-color: beige;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}


.head {
    font: 90;
    background: -moz-linear-gradient();
    font: 200;
    animation-delay: 0s;
    all: border: width border-style color;
}